# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env.local
.next
node_modules
dist
dist-ssr
*.local
node_modules
node_modules
.next
.env.local
studio/dist
studio/node_modules
web/node_modules
web/.next
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*.local
